body
{
	background-color: #ddd;
	padding: 0px;
	margin: 50px;
}

#container {
	width: 1000px;
	margin: 0px auto;
	background-color: #fff;
	border: 1px solid #ccc;
	overflow: hidden;
	box-shadow: 0px 0px 20px #ccc;
}

#header {
	background-color: #358;
	font-size: 40px;
	font-family: tahoma;
	font-weight: bold;
	color: #fff;
	width: 960px;
	/*height: 40px;*/
	padding: 20px;
	padding-top: 10px;
        padding-bottom: 0px;
	margin-bottom: 20px;
	border-bottom: 1px solid #246;
	box-shadow: 0px 0px 20px #ccc;
}

#leftCol {
	float: left;
	width: 200px;
	overflow: hidden;
	min-height: 1px;
}

#rightCol {
	float: right;
	width: 249px;
	overflow: hidden;
}

#middleCol {
	float: left;
	width: 550px;
	overflow: hidden;
	padding-top: 30px;
}

#footer {
	height: 15px;
	font-size: 12px;
	font-family: arial;
	color: #ccc;
	width: 1000px;
	overflow: hidden;
	padding: 5px;
}

#loginBox {
	width: 300px;
	border: 1px solid #ddd;
	margin: 0px auto;
	box-shadow: inset 0px 0px 20px #f7f7f7;
	font-family: tahoma;
}

.formLabel {
	text-align: right;
}

.formInput {
	width: 150px;
	border: 1px solid #ccc;
	padding: 3px;
	border-radius: 2px;
	background-color: #FFF;
}

#loginBox table {
	margin: 50px auto;
}

.regText {
	font-size: 12px;
	text-align: center;
}

#usernameInput {
	width: 150px;
	border: 1px solid #ccc;
	padding: 3px;
	border-radius: 2px;
	background-color: #FFF;
}

#passwordInput {
	width: 150px;
	border: 1px solid #ccc;
	padding: 3px;
	border-radius: 2px;
	background-color: #FFF;
}

a {
    text-decoration: none;
    color: #46a;
}
 
a:hover {
    text-decoration: underline;
}

#jstwitter {
    width: 230px;
    font-family: georgia;
    font-size: 12px;
    color: #333333;
    padding: 10px;
}
 
#jstwitter .tweet {
    margin: 0 auto 15px auto;
    padding: 0 0 15px 0;
    border-bottom: 1px dotted #ccc;
}
 
#jstwitter .tweet a {
    text-decoration: none;
    color: #46a;/*#13c9d0;*/
}
 
#jstwitter .tweet a:hover {
    text-decoration: underline;
}
 
#jstwitter .tweet .time {
    font-size: 10px;
    font-style: italic;
    color: #666666;
}


.userInfo {
    margin: 10px;
    padding: 5px;
    border: 1px solid #eee;
}

#nav {
    width: 100%;
    display: block;
    float: left;
    padding: 0px;
    margin-bottom: 10px;
}

/*CSS MENU*/

#cssmenu{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	}
#cssmenu ul{
	background:#358;
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
	}
#cssmenu li{
	float:left;
	padding:0px;
	}
#cssmenu li a{
	background:#358;
	color:#fff;
	display:block;
	font-weight:normal;
	line-height:35px;
	margin:0px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
	}
#cssmenu li a:hover, #cssmenu ul li:hover a{
	background: #46a;
	color:#FFFFFF;
	text-decoration:none;
	}
#cssmenu li ul{
	background:#28487F;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:225px;
	z-index:200;
	/*top:1em;
	/*left:0;*/
	}
#cssmenu li:hover ul{
	display:block;
	
	}
#cssmenu li li {
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:225px;
	}
#cssmenu li:hover li a{
	background:none;
	
	}
#cssmenu li ul a{
	display:block;
	height:35px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
	}
#cssmenu li ul a:hover, #cssmenu li ul li:hover a{
	background:#46a;
	border:0px;
	color:#ffffff;
	text-decoration:none;
	}
#cssmenu p{
	clear:left;
	}	